<section>
  <div class="row">
    <h1 class="glowfont" onclick="toggleFlipAll()" style="margin: auto">flip all</h1>
    <% @my_cards.each do |card| %>

      <div class="card" onclick="showModal(<%= card.id %>)">
          <div class="front"> 
            <%= image_tag @cardback.image.url(:medium) %>
          </div> 
          <div class="back">
            <%= image_tag card.image.url(:medium) %> 
          </div>  
        </div>

    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="attackModal<%= card.id %>" >
    <div class="modal-dialog modal-lg" onclick="hideModal(<%= card.id %>)">
      <div class="modal-content">
        <div class="row">
          <div class="col-md-5">
          <%= image_tag card.image.url(:large), style: "padding: 10px 10px 10px 10px" %>
          </div>
          <div class="col-md-6">
            <h1><%= card.name %></h1>
            <h3><%= card.description %></h3>
            <h4>attack: <%= card.attack %></h4>
          </div>
        </div>
      </div>
    </div>
  </div>
    <% end %>





  </div>
 </section>


 <script>
  var flipped = false;

  if (flipped == false) {
    $(".card").flip({
      axis: 'y',
      trigger: 'hover'
    });
  };

  function toggleFlipAll(){
    flipped = true;
    $(".card").flip("toggle");
  };

  function showModal(card_id){
  $("#attackModal" + card_id).modal('show');
  };

  function hideModal(card_id){
  $("#attackModal" + card_id).modal('hide');
  };







 </script>