<div class="container">
    <div class="row text-center col-lg-9">
      <%= image_tag("opponenthand.gif", class: "animated infinite bounce", style: "height: 300px")%>
    </div>
    <div class="col-md-3">
      <div class="opponent-avatar ">
        <%= image_tag @player_two.avatar.url(:medium) %>
        <h3><%= @game.inactive_player.name %></h3>
        <h3>Health: <%= @player_two_hp %></h3>
      </div>
    </div>
</div>
<div class="col-sm-12">
  <br>
</div>
<div class="container player">
      <div class="col-md-3">
      <div >
      <%= image_tag @player_one.avatar.url(:medium), class: "player-avatar" %>
      </div>
      <h3><%= @game.active_player.name %></h3>
      <h3>hp:<%#= @player_one.hp %> Mana: <%= @mana_slots %></h3>
      </div>
    <div class="row text-center col-lg-9">

      <% @player_one.hand.each do |my_card| %>
        <div class="card"> 
          <div class="front"> 
            <%= image_tag @cardback.image.url(:medium) %>
          </div> 
          <div class="back">
            <%= image_tag my_card.card.image.url(:medium) %>
          </div>  
        </div>
       <% end %>
    </div>
</div>




<script>
$(".card").flip({
  axis: 'y',
  trigger: 'click'
});

$(this).on('click', function() {
  $(this).addClass('animated shake').one('webkitAnimationEnd', function() {
    $(this).removeClass('animated shake');
  });
});
</script>