<div class="container">
    <div class="row text-center col-lg-9">
      <%= image_tag("opponenthand.gif")%>
    </div>
    <div class="col-md-3">
      <div class="opponent-avatar ">
        <%= image_tag @opponent.avatar.url(:medium), class: "avatar" %>

        <h3><%= @opponent.name %></h3>
        <h3><span class="glyphicon glyphicon-heart"></span> <%= @opponent.participation_with(@game).hp %></h3>
      </div>
    </div>
</div>
<div class="col-sm-12">
  <br>
</div>
<div class="container player">
      <div class="col-md-3">
      <div>
      <%= image_tag current_user.avatar.url(:medium), class: "avatar" %>
      </div>
      <div class="col-md-12">
        <h3><%= current_user.name %></h3>
        <h3><span class="glyphicon glyphicon-heart"></span> <%= current_user.participation_with(@game).hp %><% if current_user == @player_one %> <span class="glyphicon glyphicon-flash"></span> <%= @mana_slots %></h3>
        <% end %>
        </div>
      </div>
    <div class="row text-center col-lg-9">

      <% current_user.hand.each do |my_card| %>
        <div class="card"> 
          <div class="front"> 
            <%= image_tag @cardback.image.url(:medium) %>
          </div> 
          <div class="back">
            <%= image_tag my_card.card.image.url(:medium) %> 
          </div>  
        </div>
       <% end %>
    </div>
</div>
<% if current_user == @player_one %>
  <%= form_tag "/games/#{@game.id}/dealdamage", method: :get do %>
      <%= label_tag :my_cards %>
      <%= select_tag :my_cards, options_from_collection_for_select(@player_one.hand, :id, :cost, @player_one.hand.pluck(:id)), multiple: true %>
        </div>

        <input type="submit" class="btn btn-info" value="attack">
        <!-- want to hide this based on whether anything is selected probably a js thing. -->
  <% end %>
      <%= form_tag "/games/#{@game.id}/endturn", method: :post do %>
      <input type="submit" class="btn btn-info" value="end turn">
  <% end %>
<% end %>

    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo
</button>
 -->
<!-- Modal -->
<!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="attackAnimation()">Large modal</button>
 -->

<!-- Modal -->
<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" id="myModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <h1 style="color: red">yr gettin attacked, vro...</h1>
        
      
        <%= image_tag @player_one.hand.first.card.image.url(:large) %>
         

        <div class="opponent-avatar" style="padding: 150px 170px 0px 150px">
          <%= image_tag @player_two.avatar.url(:medium)%>
            <div id="opponent-info">
              <h3>Player Two</h3>
              <h3>Health: 14</h3>
            </div>
        </div>

        <%= link_to "continue", "#", class: "btn btn-default" %>
    </div>
  </div>
</div>
    

<script>
$(".card").flip({
  axis: 'y',
  trigger: 'click'
});

function pulse() {
  $(".attack-card").addClass('animated tada');
};

function shake() {
  $(".opponent-avatar").addClass('animated shake').one('webkitAnimationEnd', function() {
    $(".opponent-avatar").removeClass('animated shake');
  });
};

function red(){ 
  //i think here is where i'd add the damage thing and also change the numbers maybe
  document.getElementById("opponent-info").style.color = "red";
};


function discard() {
  $(".attack-card").addClass('animated fadeOutLeft');
};

//an if function to check if there's another card attacking if not end turn basically
function hideModal() {
  $('#myModal').modal('hide');
};


function attackAnimation() {
setTimeout(pulse, 2000);
setTimeout(shake, 3000);
setTimeout(red, 3000);
//setTimeout(discard, 4000);
setTimeout(hideModal, 6000);
};


</script>