<div class="container">
    <div class="row text-center col-lg-9">
      <%= image_tag("opponenthand.gif")%>
    </div>
    <div class="col-md-3">
      <div class="opponent-avatar">
        <%= image_tag @opponent.avatar.url(:medium), class: "avatar" %>

        <h3><%= @opponent.name %></h3>
        <h3><span class="glyphicon glyphicon-heart"></span> <%= @opponent.participation_with(@game).hp %></h3>
      </div>
    </div>
</div>
<div class="col-sm-12">
  <br>
</div>
<div class="container player">
      <div class="col-md-3">
      <div>
      <%= image_tag current_user.avatar.url(:medium), class: "avatar" %>
      </div>
      <div class="col-md-12">
        <h3><%= current_user.name %></h3>
        <h3><span class="glyphicon glyphicon-heart"></span> <%= current_user.participation_with(@game).hp %><% if current_user == @player_one %> <span class="glyphicon glyphicon-flash"></span> <%= @mana_slots %></h3>
        <% end %>
        </div>
      </div>
    <div class="row text-center col-lg-9">

      <% current_user.hand.each do |my_card| %>
        <div class="card"> 
          <div class="front"> 
            <%= image_tag @cardback.image.url(:medium) %>
          </div> 
          <div class="back">
            <%= image_tag my_card.card.image.url(:medium) %> 
          </div>  
        </div>
       <% end %>
    </div>
</div>
<% if current_user == @player_one %>
  <%= form_tag "/games/#{@game.id}/dealdamage", method: :post do %>
      <%= label_tag :my_cards %>
      <%= select_tag :my_cards, options_from_collection_for_select(@player_one.hand, :id, :cost, @player_one.hand.pluck(:id)), multiple: true %>
        </div>

        <input type="submit" class="btn btn-info" value="attack">
        <!-- want to hide this based on whether anything is selected probably a js thing. -->
  <% end %>
      <%= form_tag "/games/#{@game.id}/endturn", method: :post do %>
      <input type="submit" class="btn btn-info" value="end turn">
  <% end %>
<% end %>

    <!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalLong">
  Launch demo
</button>
 -->
<!-- Modal -->
<!-- <button class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg" onclick="attackAnimation()">Large modal</button>
 -->

<!-- Modal -->
<% @player_one.hand.each do |my_card| %>
  <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" id="attackModal<%= my_card.card.id %>">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">

          <%= image_tag my_card.card.image.url(:large) %>
           

          <div class="opponent-avatar" style="padding: 150px 170px 0px 150px">
            <%= image_tag @player_two.avatar.url(:medium)%>
              <div id="opponent-info">
                <h3>Player Two</h3>
                <h3><span class="glyphicon glyphicon-heart" style="color: red"><div id="opponent-hp" style="color: red">-<%= my_card.card.attack %></div></span></h3>
              </div>
          </div>

          <button class="btn btn-default" onclick="hide"></button>
      </div>
    </div>
  </div>

<% end %>

<div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" id="endModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
          <h1 style="color: red"><%= @player_two.name %>'s turn</h1>
          <%= link_to "continue", "", class: "btn btn-default" %>
      </div>
    </div>
  </div>
    

<script>
$(".card").flip({
  axis: 'y',
  trigger: 'click'
});
</script>